@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Booking Complete</h1>
<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">Flying Dutchman</td>
                        <td>
                            Created: @DateTime.Now.ToString("dddd, dd MMMM yyyy") <br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="information">
            <td colspan="3">
                <table>
                    <tr>
                        <td>
                            Dutchman Corp.<br>
                            Scheepse Geest 7<br>
                            4966 PC, Rotterdam
                        </td>

                        <td>
                            @ViewBag.Customer.firstName @ViewBag.Customer.lastName<br>
                            @ViewBag.Customer.phoneNumber<br>
                            @ViewBag.Customer.email<br>
                            @ViewBag.Customer.dateOfBirth.ToString("dddd, dd MMMM yyyy");
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="heading">
            <td>
                Payment Method
            </td>
            <td>
                
            </td>
            <td>
                Status
            </td>
        </tr>

        <tr class="details">
            <td>
                Ideal
            </td>
            <td>
                
            </td>
            <td>
                Complete
            </td>
        </tr>

        <tr class="heading">
            <td>
                Destination
            </td>
            <td>
                Passengers
            </td>
            <td>
                Price
            </td>
        </tr>

        <tr class="item">
            <td>
                @ViewBag.Flight.arrivalCountry
            </td>
            <td>
                @ViewBag.Ticket.numberOfPassengers
            </td>
            <td>
                €@ViewBag.Flight.price
            </td>
        </tr>

        <tr class="total">
            <td></td>

            <td>
                Total: €@ViewBag.TotalPrice
            </td>
        </tr>
    </table>
    Please Note:
    All fares are quoted in EUR
    Some airlines may charge Baggage Fees.
    Privacy Policy
    We're committed to protecting your privacy. See our Privacy Policy for details.
    Contact Us
    if you have any questions please email us at or write to us at:, Scheepse Geest 7, Rotterdam, 4966 PC
    © 2021-@DateTime.Now.ToString("yyyy") All right reserved.
</div>