@model Airline.Models.TicketDetailViewModel
 Airline.Models.FlightViewModel
@using Microsoft.AspNetCore.Http;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <h1>Dashboard Page</h1>
    Welcome @Context.Session.GetString("firstName")
    <br>
    <h2>Your profile</h2>
    @ViewBag.User.firstName
    <br>
    @ViewBag.User.lastName
    <br>
    @ViewBag.User.email
    <br>
    @ViewBag.User.phoneNumber
    <br>
    @ViewBag.User.dateOfBirth
    <br>
    @ViewBag.User.gender
    <br>
    <h2>Unfinished booking process</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ticket Id</th>
                <th scope="col">Travel</th>
                <th scope="col">Class</th>
                <th scope="col">Passengers</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model.Tickets)
            {
                <tr>
                    <td>@ticket.ticketId</td>
                    <td>@ticket.travelType</td>
                    <td>@ticket.classType</td>
                    <td>@ticket.numberOfPassenger</td>
                    <td>
                        @Html.ActionLink("Proceed", "Search", "Ticket", new { id = ticket.ticketId }, new { @class = "btn btn-primary" })
                        <form asp-action="Delete" asp-controller="Ticket" asp-route-id="@ticket.ticketId" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>