@model Airline.Models.FlightViewModel
@{
    ViewData["Title"] = "Create a flight";
}


<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<form method="post" asp-controller="Admin" asp-action="Create">
    <div class="form-group">
        <label for="aircraftCode">Code</label>
        <span asp-validation-for="aircraftCode" class="text-danger"></span>
        <input class="form-control" type="text" name="aircraftCode" asp-for="aircraftCode">
    </div>
    <div class="form-group">
        <label for="aircraftType">Aircraft type</label>
        <span asp-validation-for="aircraftType" class="text-danger"></span>
        <select class="form-control" asp-for="aircraftType">
            @{
                string[] aircraftTypes = { "Boeing 737", "Boeing 777", "Boeing 777X", "Boeing 787", "Airbus A320", "Airbus A330", "Airbus A340" };
                foreach (var aircraftype in aircraftTypes)
                {
                    <option value="@aircraftype">@aircraftype</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="departureCountry">From</label>
        <span asp-validation-for="departureCountry" class="text-danger"></span>
        <select class="form-control" asp-for="departureCountry">
            <option value="NL">Netherlands</option>
        </select>
    </div>
    <div class="form-group">
        <label for="arrivalCountry">To</label>
        <span asp-validation-for="arrivalCountry" class="text-danger"></span>
        <select class="form-control" asp-for="arrivalCountry">
            @{
                string[] countries = { "United States", "Canada", "Afghanistan", "Albania", "Algeria", "American Samoa", "Andorra", "Angola", "Anguilla", "Antarctica", "Antigua and/or Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia and Herzegovina", "Botswana", "Bouvet Island", "Brazil", "British Indian Ocean Territory", "Brunei Darussalam", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Cape Verde", "Cayman Islands", "Central African Republic", "Chad", "Chile", "China", "Christmas Island", "Cocos (Keeling) Islands", "Colombia", "Comoros", "Congo", "Cook Islands", "Costa Rica", "Croatia (Hrvatska)", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "East Timor", "Ecudaor", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Falkland Islands (Malvinas)", "Faroe Islands", "Fiji", "Finland", "France", "France, Metropolitan", "French Guiana", "French Polynesia", "French Southern Territories", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guadeloupe", "Guam", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Heard and Mc Donald Islands", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran (Islamic Republic of)", "Iraq", "Ireland", "Israel", "Italy", "Ivory Coast", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Korea, Democratic People's Republic of", "Korea, Republic of", "Kosovo", "Kuwait", "Kyrgyzstan", "Lao People's Democratic Republic", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libyan Arab Jamahiriya", "Liechtenstein", "Lithuania", "Luxembourg", "Macau", "Macedonia", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Martinique", "Mauritania", "Mauritius", "Mayotte", "Mexico", "Micronesia, Federated States of", "Moldova, Republic of", "Monaco", "Mongolia", "Montserrat", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauru", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "Niue", "Norfork Island", "Northern Mariana Islands", "Norway", "Oman", "Pakistan", "Palau", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Pitcairn", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romania", "Russian Federation", "Rwanda", "Saint Kitts and Nevis", "Saint Lucia", "Saint Vincent and the Grenadines", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Georgia South Sandwich Islands", "South Sudan", "Spain", "Sri Lanka", "St. Helena", "St. Pierre and Miquelon", "Sudan", "Suriname", "Svalbarn and Jan Mayen Islands", "Swaziland", "Sweden", "Switzerland", "Syrian Arab Republic", "Taiwan", "Tajikistan", "Tanzania, United Republic of", "Thailand", "Togo", "Tokelau", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks and Caicos Islands", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States minor outlying islands", "Uruguay", "Uzbekistan", "Vanuatu", "Vatican City State", "Venezuela", "Vietnam", "Virigan Islands (British)", "Virgin Islands (U.S.)", "Wallis and Futuna Islands", "Western Sahara", "Yemen", "Yugoslavia", "Zaire", "Zambia", "Zimbabwe"}; 
                foreach (var country in countries)
                {
                    <option value="@country">@country</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="departureDate">Departure</label>
        <input asp-for="departureDate" type="date" class="form-control">
        <span asp-validation-for="departureDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="arrivalDate">Arrival</label>
        <input asp-for="arrivalDate" type="date" class="form-control">
        <span asp-validation-for="arrivalDate" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="flightStatus" />
            Status active
        </label>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="price" />
            Status active
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Add flight</button>
</form>
