
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FlightViewModel</h4>
    <hr />
    <dl class="row">
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(flight => flight.flightId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(flight => flight.flightId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(flight => flight.aircraftType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(flight => flight.aircraftType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(flight => flight.departureCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(flight => flight.departureCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(flight => flight.arrivalCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(flight => flight.arrivalCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(flight => flight.departureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(flight => flight.departureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(flight => flight.arrivalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(flight => flight.arrivalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(flight => flight.flightStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(flight => flight.flightStatus)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
