@model Airline.Models.FlightViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container"
    <h1>Flight Detail</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraftCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraftCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aircraftType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aircraftType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.departureCountry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.departureCountry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.arrivalCountry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.arrivalCountry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.departureDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.departureDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.arrivalDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.arrivalDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.flightStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.flightStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
    </dl>
    <div>
        <a asp-action="Flight">Back to List</a>
    </div>
</div>
