@model ClassLib.Interface.FlightDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FlightDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.flightId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.flightId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aircraftType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aircraftType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.departureCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.departureCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.arrivalCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.arrivalCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.departureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.departureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.arrivalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.arrivalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.flightStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.flightStatus)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Flight">Back to List</a>
</div>
