    @{
        ViewData["Title"] = "Flight Management";
    }
    <h1>@ViewData["Title"]</h1>

    <p>list managable flights.</p>

    <a class="btn-link" asp-area="" asp-controller="Admin" asp-action="Create">Create new flight</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Aircraft</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Departure</th>
            <th scope="col">Arrival</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
   @foreach (var flight in Model.Flights)
    {
        <tr>
            <th scope="row">@flight.flightId</th>
            <td>@flight.aircraftType</td>
            <td>@flight.departureCountry</td>
            <td>@flight.arrivalCountry</td>
            <td>@flight.departureDate</td>
            <td>@flight.arrivalDate</td>
            <td>@flight.flightStatus</td>
            <td>
                    <a asp-action="Edit" asp-route-id="@flight.flightId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@flight.flightId">Detail</a>
                <form asp-action="Delete" asp-route-id="@flight.flightId" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>              
            </td>
        </tr>
    }
    </tbody>
</table>


